{%extends 'store/basic.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buy {{order["title"]}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/pay.css')}}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {%endblock%}
    
</head>
<body>
    {%block header%}
    <div class="main">
        <div>
            <p><del>{{order["full_price"]}} ₽</del></p>
            <p>{{order["price"]}} ₽</p>
        </div>
        <form action="{{url_for('store_bp.buy_order',order_id=order['order_id'])}}" method="post" novalidate>
            {{buy_form.hidden_tag()}}
            {{buy_form.csrf_token()}}
            {{buy_form.num_card()}}
            {{buy_form.month()}}
            {{buy_form.years()}}
            {{buy_form.username()}}
            {{buy_form.cvc()}}
            
        </form>
        {{buy_form.buy()}}
        <p id="error_message"></p>
        <div id="fon_message" style="display: none;">
            <div>
                <div>
                    <p id="message" style="display: none;align-items: center;">Ваш steam ключ:</p>
                    <p id="key" style="align-items: center;"></p>
                    <a id="redirect" href="{{url_for('store_bp.store')}}" style="display: none;align-items: center;">OK</a>
                </div>
            </div>
        </div>
    </div>
    <script>
$(function(){
	$('#buy').click(function(){
                let num_card = document.getElementById("num_card")
                let month = document.getElementById("month")
                let years = document.getElementById("years")
                let username = document.getElementById("username")
                let cvc = document.getElementById("cvc")
                let data = 0
                console.log(num_card.value.length)
                if (num_card.value.length == 16
                && month.value.length == 2 && years.value.length == 4
                && username.value.length < 255 && cvc.value.length == 3){
                    data = 1
                    }
                $.ajax({
                    url: '/register_pay/{{order["order_id"]}}',
                    data: {'data':data},
                    type: 'GET',
                    success: function(response){
                        if (response.response != 0){
                            let error = document.getElementById("error_message")
                            error.innerHTML = ""
                            document.getElementById("fon_message").style.display = "block"
                            document.getElementById("message").style.display = "inline";
                            document.getElementById("redirect").style.display = "block";
                            document.getElementById("key").innerHTML = response.response
                        }else{
                            let error = document.getElementById("error_message")
                            error.innerHTML = "Не все данные заполнены"
                            error.style.color = "black"
                        }
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
                
            });
        });
    </script>
    {%endblock%}

</body>
</html>