{%extends 'store/basic.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Orders #{{search}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/store.css')}}">
    {%endblock%}
</head>
<body>
    




    {%block header%}
    <div class="main">
        <p>найдено ({{count_orders}})</p>
        {%if orders%}
            {%for order in orders%}
                <a href="{{url_for('store_bp.order',order_id=order['order_id'])}}" class="order_link">
                    <div class="order">
                        {%set check = g.check_exists_image(abs_path_img+'//'+order['main_image'])%}
                        {%if check%}
                        <img src="{{url_for('static',filename=order['main_image'])}}" style="max-width: 200px;">
                        {%endif%}
                        <div>
                            <p>{{order['title']}}</p>
                            <p><del>{{order['full_price']}} ₽</del></p>
                            <p>{{order['price']}} ₽</p> 
                        </div>        
                    </div>
                </a>
            {%endfor%}
        {%else%}
        <p>По вашему запросу ничего не найдено</p>
        {%endif%}
    </div>
    {%endblock%}
</body>
</html>