{%extends 'store/basic.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/store.css')}}">
    <title>Store</title>
    {%endblock%}
</head>
<body>
    {%block header%}
    <div class="main">
        {%for order_id in orders%}
        <a href="{{url_for('store_bp.order',order_id=orders[order_id]['order_id'])}}" class="order_link">
            <div class="order">
                {%set check = g.check_exists_image(abs_path_img+'//'+orders[order_id]['main_image'])%}
                {%if check%}
                <img src="{{url_for('static',filename=orders[order_id]['main_image'])}}" style="max-width: 250px; width: 250px;">
                {%endif%}
                <div>
                    {%set count_order = g.order_count(orders[order_id]["order_id"])%}
                    <p>{{orders[order_id]['title']}}</p>
                    <p>осталось: {{count_order}}</p>
                    <p><del>{{orders[order_id]['full_price']}} ₽</del></p>
                    <p>{{orders[order_id]['price']}} ₽</p> 
                </div>        
            </div>
        </a>
        {%endfor%}
    </div>
    <div class="main_pages">
        <div class="pages">
            {%for i in range(1,count_group+1)%}
                <a href="{{url_for('store_bp.store',page=i)}}">{{i}}</a>
            {%endfor%}
        </div>
    </div>
    
    {%endblock%}
</body>
</html>