<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>
<body>
    <form action="{{url_for('store_bp.store')}}" method="post" novalidate>
        {{search_form.hidden_tag()}}
        {{search_form.csrf_token()}}
        {{search_form.search()}}
        {{search_form.send()}}
    </form> 
    {%for order_id in orders%}
    <a href="{{url_for('store_bp.order',order_id=orders[order_id]['order_id'])}}">
        <div>
            {{orders[order_id]['title']}}
            <img src="{{url_for('static',filename=orders[order_id]['main_image'])}}" style="max-width: 200px;">
        </div>
    </a>
    {%endfor%}
</body>
</html>