body{background-color: #E63946;}
.block{
    background-color: #F1FAEE;
    width: 50%;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.block>img{
    border-radius: 20px 0px 0px 20px;
}

.block>div>p:last-child{
    display: inline;
    padding: 5px 10px;
    border: 2px solid black;
}
.block>div>p:last-child:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
form{
    position: fixed;
    top: 200px;
    left: 10px;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
}
form>input{
    font-size: 18px ;
}