body{
    background-color:#457B9D ;
}
.main{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.order_link{
    background-color:#F1FAEE;
    padding: 10px;
    margin-top: 30px;
}
.order{
    width: 600px;
    background-color: #E63946;
    padding: 20px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.order>div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
.order>img{
    max-width: 250px;
    width: 250px;
    border-radius: 20px;
}
.order>div>p:last-child{
    border:1px solid black;
    padding: 10px;
}
.order>div>p:last-child:hover{
    background-color: black;
    color:white;
    transition: 0.5s;
}
.main_pages{
    margin-bottom: 20px;
}
.pages{
    display: flex;
    overflow-x: scroll;
    width: 80%;
    height: 100px;
    margin: 20px;
    margin:0 auto;
}
.pages>a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    margin: 10px;
}
.main>p{
    font-size: 50px;
}
@media screen and (max-width:1200px){
    .main>p{
        font-size: 50px;
    }
    .order_link{
        min-width: 100% !important;
    }
    .order{
        min-width: 100% !important;
        width: auto !important;
        justify-content: center !important;
    }
    .order>div{
        font-size:40px;
        text-align: center;
        margin-left:10px;
    }
    .order>img{
        width:300px !important;
        max-width:300px !important;
        height: 400px !important;
        margin-top:20px;
    }
    p{
        margin:30px 0px !important;
    }
}